body {
background-color: beige;
}
.versus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
}
strong{
    font-size: 30px;
}

.start{
    border-radius: 500px;
    flex-grow: 0;
    flex-shrink: 0;
}

.startimage{
    object-fit: cover;
    width: 200px;
    height: auto;
    transform: scale(1.2);
}
#userchoice{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:50px;
    padding-left: 200px;
}
.choiceimg{
    width: 110px;
    height: 110px;
    object-fit: cover;
    transform: scale(1.2);
}
.botimg{
    border-radius: 500px;
    width: 110px;
    height: 110px;
    box-shadow: 2px 4px 0 rgba(255, 0, 0, 0.623);
    object-fit: cover;
}
.score{
    margin-left: 10px;
    margin-top: 50px;
}

.btnstyle{
    border-radius: 500px;
    overflow: hidden;
}

.btnstyle {
  box-shadow: 2px 4px 0 #34d0ff;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.btnstyle:active:not(:disabled) {
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
