body {
background-color: lightgray;
margin-bottom: 100px;
margin-top: 0px;
}
.versus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
}
strong{
    font-size: 30px;
}

.start{
    border-radius: 700px;
    flex-grow: 0;
    align-items: c;
    flex-shrink: 0;
}

.startimage{
    object-fit: cover;
    width: 200px;
    height: auto;
    transform: scale(1.2);
}
#userchoice{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:50px;
    padding-left: 200px;
}
.choiceimg{
    width: 110px;
    height: 110px;
    object-fit: cover;
    transform: scale(1.2);
}
.botimg{
    border-radius: 500px;
    width: 110px;
    height: 110px;
    box-shadow: 2px 4px 0 rgba(255, 0, 0, 0.623);
    object-fit: cover;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.score p {
  flex: 0 0 200px;   /* fixed width */
  text-align: center;
  white-space: nowrap;
}

#result {
  flex: 1 1 0;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;

  padding-bottom: 10px;
}

#result {
    width: 400px;
}

.btnstyle{
    border-radius: 500px;
    overflow: hidden;
}

.btnstyle {
  box-shadow: 2px 4px 0 #34d0ff;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

.btnstyle:active:not(:disabled) {
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.result-box {
  flex: 1;
  padding: 0px 300px;
  max-width: 500px;
}
