body {
background-color: beige;
}
.test{
    display: flex;
    align-items: center;
    gap: 500px;
}
strong{
    font-size: 30px;
}
#userchoice{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:50px;
    margin:10px 0px 0px 10px;
}
.choiceimg{
    width: 110px;
    height: 110px;
    object-fit: cover;
    transform: scale(1.1);
}
.score{
    margin-left: 10px;
    margin-top: 50px;
}

.btnstyle{
    border-radius: 500px;
    overflow: hidden;
}

.btnstyle:hover{
    transition: transform 0.2s ease;
    transform: scale(1.1) translateY(-5px);

}